<% if (success_msg !="" ) { %>
    <% errors.forEach((err)=> { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= err.msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            <% if (error_msg !="" ) { %>
                <% errors.forEach((err)=> { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= err.msg %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>